{% extends "base.html" %}

{% block title %} {{ titulo }} {% endblock %}

{% block conteudo %}

<h1> {{ titulo }}- template</h1>

<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Curabitur ante lectus, fermentum sed ornare non, scelerisque
    id tellus. Aliquam arcu orci, mollis id consectetur eu, varius
    ut tortor. Phasellus id magna turpis. In suscipit turpis sed
    turpis pulvinar dignissim. Quisque lectus tellus, porta nec
    fermentum maximus, pulvinar ac odio. Vivamus euismod,
    eros eu elementum iaculis, nunc tellus tincidunt arcu,
    eget varius est tellus vel nisl. Fusce pharetra,
    ipsum id efficitur egestas, enim turpis tempor metus, ac
    feugiat nibh tortor sit amet dui. Nunc ut condimentum augue,
    id molestie lorem. Donec lacinia felis eu lorem ornare, vehicula
    suscipit sapien rutrum. Cras enim dolor, facilisis nec
    hendrerit nec, sagittis vel neque. In hac habitasse platea
    dictumst. Quisque hendrerit ultrices arcu vitae bibendum.
    Sed ipsum ligula, malesuada non metus at, tincidunt porta turpis.
    Morbi mollis eros varius nulla faucibus egestas.
    Pellentesque dapibus blandit urna eu bibendum.
    In viverra elit facilisis mollis consequat.</p>

{% endblock %}